* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    scroll-behavior: smooth;
    background-color: #E4F2F2;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background: #E4F2F2;
}
nav img:nth-child(1) {
    width: 200px;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0 15px;
    list-style: none;
    color: rgba(7, 60, 63, 1);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
nav ul:nth-child(2) li:hover,
nav ul:nth-child(3):hover {
    transform: translate(8%);
}
nav ul:nth-child(3) {
    transition: 0.4s ease-in-out;
}
nav ul:nth-child(3) li  {
    padding: 10px;
}
nav ul img:nth-child(1) {
    width: 25px;
}

/* front */
.front {
    width: 100%;
    padding: 40px 105px 40px;
    background-color: #E4F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.front .texts {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
}
.front .texts p:first-child {
    margin: 30px 0 15px;
}
.front .texts p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #073C3F;
    margin-bottom: 15px;
}
.front .texts h3 {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-Size: 50px;
    Line-height:68px;
    margin-bottom: 30px;
}
.front .texts h3 span {
    font-style: italic;
    color: gold;
}
.front .texts ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-bottom: 20px;
}
.front .texts ul li{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: rgba(20, 108, 112, 1);
    width: 80%;
}
.front .texts ul img {
    width: 20px;
    padding-right: 5px;
}
.front .texts-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.front .texts-img img:first-child{
    width: 440px;
    position: relative;
}
.front .texts-img .card{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 380px;
    height: 348px;
    right: 137px;
    top: 116px;
    padding: 30px 25px 20px;
    background: linear-gradient(115.95deg, rgba(255, 254, 255, 0.41) 10.92%, rgba(255, 255, 255, 0.65) 96.4%);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(18px);
    border-radius: 27.6895px;
}
.front .texts-img .card p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 0 20px;
    line-height: 32px;    
    text-align: center;
    color: #073C3F;
}
.front .texts-img .card span img:nth-child(1){
    width: 15px;
    transform:rotateY(180deg);
    position: relative;
    top: 30px;
    margin-right: 10px;
}
.front .texts-img .card span {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #073C3F;
}
.front .texts-img .card span img:nth-child(2){
    width: 15px;
    position: relative;
    top: 30px;
    margin-left: 10px;
}
.front .texts-img .card .bu1,
.front .texts-img .card .bu2{
    background: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #073C3F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin: 45px 15px 0;
    padding: 15px 0;
    border: none;
    transition: 0.5s;
}
.front .texts-img .card .bu2{
    margin-top: 10px;
}
.front .texts-img .card .bu1.active,
.front .texts-img .card .bu2.active {
    background: #8d7272;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #dde8e9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin: 45px 15px 0;
    padding: 15px 0;
    border: none;
}
.front .texts-img .card .bu2.active {
    margin-top: 10px;
    background-color: red;
}

/* face two */
.employees {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 0 70px;
    position: relative;
}
.employees .img-2 {
    position: absolute;
    width: 100%;
    padding: 100px 0 20px;
    margin: 0 auto;
    z-index: -10;
    background-color: #E4F2F2;
}
.employees .Payroll-cards{
    width: 100%;
    display: flex;
    padding: 0 105px;
    margin-top: 28px;
    justify-content: space-around;
}
.employees .Payroll-cards div{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0 20px 0 0;
    gap: 10px;
    width: 372px;
    height: 200px;
    background: linear-gradient(115.95deg, rgba(255, 254, 255, 0.41) 10.92%, rgba(255, 255, 255, 0.65) 96.4%);
    border: 1px solid #FFFFFF;
    border-radius: 27.6px;
    backdrop-filter: blur(38.0731px);
}
.employees .Payroll-cards div:last-child{
    margin: 0;
}
.employees .Payroll-cards div span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #073C3F;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.employees .Payroll-cards div p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #073C3F;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.employees .Background {
    width: 1133px;
    margin: 40px auto 0;
    border-radius: 15px;
}
.employees .big-card {
    margin: 0 auto -50px;
    display: flex;
    align-items: center;
}
.employees .big-card span {
    display: flex;
    flex-direction: column;
    margin-top: -360px;
}
.employees .big-card span .big-words.active,
.employees .big-card span .big-words {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    padding: 0 290px 0 50px;
    line-height: 40px;
    color: #FFFFFF;
    align-self: stretch;
    display: inline;
    transition: 0.6s;
}
.employees .big-card span .small-words.active,
.employees .big-card span .small-words {
    /* max-width: 100%; */
    font-family: 'Montserrat';
    padding: 40px 200px 0 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    transition: 0.6s;
}

.employees .big-card img:nth-child(1) {
    width: 40px;
    cursor: pointer;
    transform: rotate(180deg);
    margin-top: -380px;
    margin-left: 175px;
}
.employees .big-card img:nth-child(3) {
    width: 40px;
    cursor: pointer;
    margin-top: -380px;
    margin-right: 173px; 
}

/* The-three-contents */
.The-three-contents {
    width: 100%;
    margin-top: 65px;
    padding: 0 105px 0;
    display: flex;
    flex-direction: column;
    background-color: #E4F2F2;

}
.The-three-contents .content {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0 0;
}
.The-three-contents .content:last-child {
    padding: 100px 0;
}
.The-three-contents .content .elements {
    display: flex;
    flex-direction: column;
}
.The-three-contents .content .elements p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #073C3F;
}
.The-three-contents .content .elements span {
    margin-top: 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #073C3F;
}
.The-three-contents .content .elements span p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #073C3F;
}
.The-three-contents .content:nth-child(2) img {
    padding: 0 0 0 120px;
}
.The-three-contents .content img {
    width: 1000px;
    padding-right: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

/* the-three-boxes */
.the-three-boxes {
    width: 100%;
    padding: 0 105px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E9F9F9;
    background-image: url(imgs/Back_image.png) ;
}
.the-three-boxes .first-word {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;    
    text-align: center;
    color: rgba(7, 60, 63, 1);
    padding: 100px 0;
}
.the-three-boxes .first-word span {
    color: rgba(222, 199, 48, 1);
    font-style: italic;
}
.the-three-boxes .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 40px 20px;
    margin-bottom: 10px;
    gap: 10px; 
    width: 568px;
    height: 320px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(38.0731px);    
    border-radius: 20px;
}
.the-three-boxes .box:first-child {
    margin-top: 50px;
}
.the-three-boxes .box:last-child {
    margin-bottom: 0;
}
.the-three-boxes .box img {
    width: 72px;
}
.the-three-boxes .box p:nth-child(2) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #073C3F;
}
.the-three-boxes .box p:nth-child(3) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #073C3F;
}

/* how-it-works */
.how-it-works {
    width: 100%;
    background-color: #E9F9F9 ;
}
.how-it-works p:nth-child(1) {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    color: #073C3F;
    padding: 100px 0 40px ;
}
.how-it-works img:nth-child(2) {
    width: 70px;
    position: relative;
    left: 870px;
    top: -40px;
}
.how-it-works .right-steps {
    width: 100%;
    margin: 60px 0;
    display: flex;
    justify-content: center;
    position: relative;
}
.how-it-works .right-steps .crd {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    padding: 20px;
    width: 348px;
    height: 100px;
    background: linear-gradient(115.95deg, rgba(255, 254, 255, 0.41) 10.92%, rgba(255, 255, 255, 0.65) 96.4%);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(38.0731px);
    border-radius: 27.6895px;
}
.how-it-works .right-steps .crd:nth-child(1) {
    position: absolute;
    left: 370px;
    top: -10px;
}
.how-it-works .right-steps .crd:nth-child(2) {
    position: absolute;
    right: 70px;
    top: 160px;
}
.how-it-works .right-steps .crd:nth-child(3) {
    position: absolute;
    right: 400px;
    top: 435px;
}
.how-it-works .right-steps .crd:nth-child(4) {
    position: absolute;
    left: 70px;
    top: 280px;
}
.how-it-works .right-steps .crd img{
    width: 60px;
}
.how-it-works .right-steps img:nth-child(5){
    width: 800px;
}
.how-it-works .right-steps .crd p {
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color: #073C3F;
    line-height: 20px;
}
.how-it-works .big-card {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.how-it-works .big-card .rectan {
    position: relative;
    width: 85%;
    left: 0;
    right: 0;
    background: #136B6F;
    backdrop-filter: blur(38.0731px);    
    border-radius: 20px;
    margin: 100px auto -400px ; 
}
.how-it-works .big-card span {
    margin: 0 auto;
    z-index: 20;
    text-align: center;
    position: absolute;
    top: 100%;
}
.how-it-works .big-card span h3 {
    padding: 0 250px 30px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.how-it-works .big-card span p {
    padding: 0 300px 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #EDBF9D;
}
.how-it-works .big-card span button {
    width: 230px;
    height: 70px;
    padding: 15px 40px; 
    background: #DEC730;
    border: 1px solid #DEC730;
    box-shadow: inset 0px 0px 13px #FFFFFF;
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.how-it-works .last-img {
    width: 100%;
}


/* last-gruop */
.last-group {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.last-group img {
    width: 200px;
}
.last-group span {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.last-group span a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: #073C3F;
    cursor: pointer;
    text-decoration-line: underline;
}
.last-group span p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #073C3F;
}

/* phone */
@media screen and (max-width: 768px) {
    nav img:nth-child(1) {
        width: 30%;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 5px;
    }
    nav ul:nth-child(2) li:nth-child(1),
    nav ul:nth-child(2) li:nth-child(2) {
        display: none;;
    }
    nav ul li {
        text-decoration: none;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        padding: 0 5px;
        list-style: none;
        color: rgba(7, 60, 63, 1);
        cursor: pointer;
    }
    nav ul img:nth-child(1) {
        width: 16px;
    }

    /* front */
    .front {
        width: 100%;
        padding: 40px 5%;
        background-color: #E4F2F2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        position: relative;
    }
    .front .texts-img img:first-child {
        width: 95%;
        margin: 0 auto;
        position: relative;
    }
    .front .texts-img .card {
        position: absolute;
        display: flex;
        justify-content: unset;
        flex-direction: column;
        width: 75%;
        height: 280px;
        right: 0;
        top: 70%;
        padding: 15px;
        margin: 0 13%;
    }
    .front .texts-img .card p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        padding: 0 20px;
        line-height: 32px;
        text-align: center;
        color: #073C3F;
    }
    .front .texts-img .card span {
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #073C3F;
    }
    .front .texts-img .card .bu1,
     .front .texts-img .card .bu2 {
        font-size: 15px;
        margin: 45px 15px 0;
        padding: 10px 0;
    }
    .front .texts-img .card .bu2 {
        font-size: 15px;
        margin: 10px 15px 0;
        padding: 10px 0;
    }

    /* employees  */
    .employees {
        background-color: #E4F2F2;
    }
    .employees .img-2 {
        position: absolute;
        top: 47px;
        width: 100%;
        height: 600px;
        padding: 0;
        margin: 0 auto;
        background: none;
        z-index: 0;
    }
    .employees .Payroll-cards {
        width: 100%;
        display: flex;
        padding: 0;
        margin-top: 0;
        flex-direction: column;
        justify-content: unset;
        z-index: 1;
    }
    .employees .Payroll-cards div,
    .employees .Payroll-cards div:last-child {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin: 10px auto;
        gap: 10px;
        width: 80%;
        height: auto;
        background: linear-gradient(115.95deg, rgba(255, 254, 255, 0.41) 10.92%, rgba(255, 255, 255, 0.65) 96.4%);
        border: 1px solid #FFFFFF;
        border-radius: 27.6px;
        backdrop-filter: blur(38.0731px);
    }
    .employees .Background {
        width: 96%;
        margin: 40px auto 0;
        border-radius: 15px;
        z-index: 1;
    }
    .employees .big-card span {
        display: flex;
        margin: -45% 0 0 -50px;
        z-index: 5;
    }
    .employees .big-card span .big-words.active,
    .employees .big-card span .big-words {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 80%;
        padding: 0;
        margin: 0 15% 0 0;
        line-height: 20px;
        color: #FFFFFF;
        transition: 0.6s;
    }
    .employees .big-card span .small-words.active, 
    .employees .big-card span .small-words {
        max-width: 100%;
        font-family: 'Montserrat';
        padding: 10px 0 0;
        margin: 0;
        line-height: 20px;
        font-weight: 600;
        font-size: 50%;
        color: #FFFFFF;
        transition: 0.6s;
    }
    .employees .big-card img:nth-child(3) {
        width: 40px;
        cursor: pointer;
        margin: 15px 50px 0 0;
    }
    .employees .big-card img:nth-child(1) {
        width: 40px;
        cursor: pointer;
        transform: rotate(180deg);
        margin: 16px 0 0 50px;
    }

    /* The-three-contents */
    .The-three-contents {
        width: 100%;
        margin-top: 0;
        padding: 0 5% 0;
        display: flex;
        flex-direction: column;
        background-color: #E4F2F2;
    }
    .The-three-contents .content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px 0;
        flex-direction: column;
    }
    .The-three-contents .content:nth-child(2) {
        flex-direction: column-reverse;
    }
    .The-three-contents .content:last-child {
        padding: 35px 0;
    }
    .The-three-contents .content img {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        display: inline;
    }
    .The-three-contents .content:nth-child(2) img {
        padding: 0;
    }

    /* the-three-boxes */
    .the-three-boxes {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(imgs/Back_image.png);
    }
    .the-three-boxes .first-word {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        color: rgba(7, 60, 63, 1);
        padding: 40px 0;
    }
    .the-three-boxes .box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 40px 20px;
        margin-bottom: 10px;
        gap: 10px;
        width: 90%;
        height: 0%;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(38.0731px);
        border-radius: 20px;
    }

    /* how-it-works */
    .how-it-works p:nth-child(1) {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 31px;
        line-height: 48px;
        text-align: center;
        color: #073C3F;
        padding: 65px 0 40px;
    }
    .how-it-works .right-steps {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .how-it-works .right-steps img:nth-child(5) {
        width: 60%;
    }
    .how-it-works img:nth-child(2) {
        width: 30px;
        position: relative;
        left: 75%;
        top: -40px;
    }
    .how-it-works .right-steps .crd img {
        width: 19%;
    }
    .how-it-works .right-steps .crd {
        display: flex;
        align-items: center;
        gap: 5px;
        position: absolute;
        padding: 10px;
        width: 180px;
        height: 50px;
        background: linear-gradient(115.95deg, rgba(255, 254, 255, 0.41) 10.92%, rgba(255, 255, 255, 0.65) 96.4%);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(38.0731px);
        border-radius: 27.6895px;
    }
    .how-it-works .right-steps .crd:nth-child(1) {
        position: absolute;
        left: 10%;
        top: -15%;
    }
    .how-it-works .right-steps .crd:nth-child(2) {
        position: absolute;
        right: 15%;
        top: 83%;
    }
    .how-it-works .right-steps .crd:nth-child(3) {
        position: absolute;
        right: 1%;
        top: 21%;
    }
    .how-it-works .right-steps .crd:nth-child(4) {
        position: absolute;
        left: 1%;
        top: 42%;
    }
    .how-it-works .right-steps .crd p {
        font-family: 'Montserrat';
        text-align: center;
        font-weight: 500;
        font-size: 10px;
        color: #073C3F;
        line-height: 14px;
    }
    .how-it-works .big-card .rectan {
        position: relative;
        width: 85%;
        left: 0;
        right: 0;
        background: #136B6F;
        backdrop-filter: blur(38.0731px);
        border-radius: 20px;
        margin: 50px auto -20%;
    }
    .how-it-works .big-card span {
        margin: 0 auto;
        z-index: 20;
        text-align: center;
        position: absolute;
        top: 60%;
    }
    .how-it-works .big-card span h3 {
        padding: 0 16% 5px;
        font-size: 17px;
        line-height: 20px;
    }
    .how-it-works .big-card span p {
        padding: 0 10% 8px;
        font-size: 10px;
        line-height: 15px;
    }
    .how-it-works .big-card span button {
        width: 130px;
        height: 0;
        padding: 15px 5px;
        background: #DEC730;
        border: 1px solid #DEC730;
        box-shadow: inset 0px 0px 13px #ffffff;
        border-radius: 7px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 0;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }

    /* last-group */
    .last-group {
        width: 100%;
        padding: 35px 0;
        flex-direction: column;
    }
    .last-group img {
        width: 160px;
        margin-bottom: 30px;
    }
    .last-group span {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .last-group span a {
        font-size: 13px;
    }
    .last-group span p {
        font-size: 13px;
        line-height: 0;

    }
}

/* lap-top Small */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .front {
        width: 100%;
        padding: 40px 20px 0 40px;
        background-color: #E4F2F2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .front .texts-img .card {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 380px;
        height: 348px;
        right: 50.5px;
        top: 25%;
        padding: 30px 25px 20px;
        background: linear-gradient(115.95deg, rgba(255, 254, 255, 0.41) 10.92%, rgba(255, 255, 255, 0.65) 96.4%);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(18px);
        border-radius: 27.6895px;
    }

    /* employees  */
    .employees .Payroll-cards {
        width: 100%;
        display: flex;
        padding: 0 40px;
        margin-top: 28px;
        justify-content: space-around;
    }
    .employees .img-2 {
        position: absolute;
        width: 100%;
        padding: 0px 0 0px;
        margin: 0 auto;
        z-index: -15;
        background-color: #E4F2F2;
    }
    .employees .Background {
        width: 92%;
        margin: 40px auto 0;
        border-radius: 15px;
    }
    .employees .Payroll-cards div {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin: 0 20px 0 0;
        gap: 10px;
        width: 372px;
        height: 200px;
        background: linear-gradient(115.95deg, rgba(255, 254, 255, 0.41) 10.92%, rgba(255, 255, 255, 0.65) 96.4%);
        border: 1px solid #FFFFFF;
        border-radius: 27.6px;
        backdrop-filter: blur(38.0731px);
    }
    .employees .big-card span {
        display: flex;
        flex-direction: column;
        margin-top: -30.5%;
    }
    .employees .big-card img:nth-child(1) {
        width: 40px;
        cursor: pointer;
        transform: rotate(180deg);
        margin-top: -32%;
        margin-left: 90px;
    }
    .employees .big-card img:nth-child(3) {
        width: 40px;
        cursor: pointer;
        margin-top: -32%;
        margin-right: 90px;
    }
    .employees .big-card span .big-words.active,
    .employees .big-card span .big-words {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        padding: 0 100px 0 50px;
        line-height: 30px;
        color: #FFFFFF;
        align-self: stretch;
        display: inline;
        transition: 0.6s;
    }
    span .small-words.active,
    .employees .big-card span .small-words {
        max-width: 100%;
        font-family: 'Montserrat';
        padding: 10px 100px 0 50px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        transition: 0.6s;
    }

    /* The-three-contents */
    .The-three-contents {
        width: 100%;
        margin-top: 65px;
        padding: 0 40px 0;
        display: flex;
        flex-direction: column;
        background-color: #E4F2F2;
    }
    .The-three-contents .content:first-child  {
        padding: 0;
    }
    .The-three-contents .content .elements span {
        margin-top: 19px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #073C3F;
    }
    .The-three-contents .content img {
        width: 1000px;
        padding-right: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: start;
    }
    .The-three-contents .content:nth-child(2) img {
        padding: 0 0 0 80px;
    }

    /* .the-three-boxes */
    .the-three-boxes {
        width: 100%;
        padding: 50px 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-image: url(imgs/Back_image.png);
    }
    .the-three-boxes .first-word {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 56px;
        text-align: center;
        color: rgba(7, 60, 63, 1);
        padding: 0 0 50px;
    }

    /* how it works */
    .how-it-works img:nth-child(2) {
        width: 70px;
        position: relative;
        left: 67%;
        top: -40px;
    }
    .how-it-works .right-steps .crd:nth-child(1) {
        position: absolute;
        left: 17%;
        top: -2%;
    }
    .how-it-works .right-steps .crd:nth-child(2) {
        position: absolute;
        right: 2%;
        top: 25%;
    }
    .how-it-works .right-steps .crd:nth-child(3) {
        position: absolute;
        right: 17%;
        top: 83%;
    }
    .how-it-works .right-steps .crd:nth-child(4) {
        position: absolute;
        left: 2%;
        top: 50%;
    }
    .how-it-works .big-card .rectan {
        position: relative;
        width: 85%;
        left: 0;
        right: 0;
        background: #136B6F;
        backdrop-filter: blur(38.0731px);
        border-radius: 20px;
        margin: 60px auto -285px;
    }
    .how-it-works .big-card span h3 {
        padding: 0 200px 20px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
    }
    .how-it-works .big-card span p {
        padding: 0 143px 50px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #EDBF9D;
    }
    .how-it-works .big-card span p {
        padding: 0 143px 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #EDBF9D;
    }
    .how-it-works .big-card span button {
        width: 238px;
        height: 56px;
        padding: 10px 40px;
        background: #DEC730;
        border: 1px solid #DEC730;
        box-shadow: inset 0px 0px 13px #ffffff;
        border-radius: 12px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }
}